# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
venv/
ENV/
.envrc

# Jupyter Notebooks
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.db
*.sqlite
*.sqlite3
*.log
*.tmp

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo

# Package management
pip-wheel-metadata/

# Build
build/
dist/
*.egg
*.whl

# Misc
0.3.0/
